<template>
    <div class="center">
        <h1>{{counter}}</h1>
        <button @click.right="counterUp">Counter Up</button>
        <button @click.left="counterDown">Counter Down</button>
    </div>
</template>

<script>
 export default {
    name: "CounterView",
    data() {
        return{
            counter:0
        
        }

    },
    methods: {
    counterUp(){
        this.counter++
    },
    counterDown(){
        this.counter--
    },
 },
}


</script>

<style>
    h1{
        color: brown;
    }
    .center{
        text-align: center;
    }
</style >