<template>
  <div>
    <h1>{{ msg }}</h1>
    <hr  />
    <!-- <h1>{{ msg }} {{ position }}</h1>
    <button @click="changeName(45),changposition('CEO')">Change name</button> -->
    <p>Name:{{ name }},password:{{ password }}</p>
    <input type="text" v-on:input="getInput ($event,Thannaphan)">
    <input type="text" v-on:input:="getPassword">
  </div>
</template>

<script>
// const msg="Event Handlling"
// const position = 'Developer'
export default{
  name: "HandleView",
  data:()=> {
    return{
      message:"Event Handlling",
      name: '',
      position:'Devaloper',
      password:''
    }
  },
  methods: {
    changeName(ageParmas){
      this.name ='Chinnathat' + "Age " + ageParmas
    },
    changePosition(positionNew){
      this.position=position
    },
    getInput(event){
      this.name = event.target.value + lastName 
      console.log(event)
    },
    getPassword(event){
      this.password =event.target.value
      console.log(event)
    }
  }
}

</script>

<style lang="scss" scoped>

</style>