<template>
  <div>
    <h1>{{ count }}</h1>
    <!-- <Handle   /> -->
    <counter  />
  </div>
</template>

<script>
import counter from './components/counter.vue'
// import Handle from './components/Handle.vue'
export default {
  components: { counter },
  name: 'App',
  component:{
    // Handle
    counter
  },

}
</script>

<style>


</style>